<!DOCTYPE html>
<html lang="en"><head>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% if title %}
            <title>Expense Tracker - {{ title }}</title>
        {% else %}
            <title>Expense Tracker : Keep an eye on your expenses</title>
        {% endif %}
        <!-- Optional JavaScript -->
        <!-- Additional JS Librairies -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>