{% extends "base.html" %}

{% block main %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <script>
          Swal.fire({
            {% if category == 'success' %}
              title : "Operation Succesful",
            {% endif %}
            position: "middle-end",
            html: "{{message}}.",
            icon: "{{category}}"
          });
        </script>
      {% endfor %}
    {% endif %}
{% endwith %}
<script src="https://cdn.tailwindcss.com"></script>
<script>
$(document).ready( function () {
    $('#expenses').DataTable();
});
</script>
<nav aria-label="Breadcrumb" class="flex justify-center mt-4">
  <ol class="flex overflow-hidden rounded-lg border border-gray-200 text-gray-600">
    <li class="flex items-center">
      <a href="{{url_for('dashboard')}}" class="flex h-10 items-center gap-1.5 bg-gray-100 px-4 transition hover:text-gray-900">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
          />
        </svg>

        <span class="ms-1.5 text-xs font-medium"> Home </span>
      </a>
    </li>

    <li class="relative flex items-center">
      <span class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180">
      </span>

      <a href="{{url_for('expenses')}}" class="flex h-10 items-center bg-white pe-4 ps-8 text-xs font-medium transition hover:text-gray-900">
        Expenses
      </a>
    </li>
  </ol>
</nav>

<header class=" dark:bg-black">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="text-center sm:text-left">
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl dark:text-white">My Expenses</h1>
        <p class="mt-1.5 text-sm text-gray-500">All your expense are listed below! 🎉</p>
      </div>

      <div class="mt-4 flex flex-col gap-4 mt-0 flex-row items-center">
          <a  href="{{url_for('new_expense')}}">
               <button
                  class="block rounded-lg bg-purple-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-purple-700 focus:outline-none focus:ring"
                  type="button">
                  Create Expense
                </button>
          </a>
      </div>
    </div>
  </div>
</header>

<style>
    #expenses_wrapper {
        color:gray;
        font-weight:700
    }
</style>
<div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
        <table id="expenses" class="w-full whitespace-no-wrap" style="width:100%">
            <thead>
                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                    <th class="px-4 py-3">Date</th>
                    <th class="px-4 py-3">Account</th>
                    <th class="px-4 py-3">Merchant</th>
                    <th class="px-4 py-3">Category</th>
                    <th class="px-4 py-3">Amount</th>
                    <th class="px-4 py-3">Actions</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            {% for expense in expenses %}
            <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3 text-sm">{{expense.expense_date}}</td>
                <td class="px-4 py-3 text-sm">{{expense.account_id}}</td>
                <td class="px-4 py-3 text-sm">{{expense.merchant}}</td>
                <td class="px-4 py-3 text-sm">{{expense.category}}</td>
                <td class="px-4 py-3 text-sm">{{expense.amount}}</td>
                <td>
                    <div class="flex items-center space-x-4 text-sm">
                      <a href="{{url_for('expense',expense_id=expense.id)}}">
                          <button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray" aria-label="Edit">
                              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                                <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                              </svg>
                          </button>
                      </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                    <th class="px-4 py-3">Date</th>
                    <th class="px-4 py-3">Account</th>
                    <th class="px-4 py-3">Merchant</th>
                    <th class="px-4 py-3">Category</th>
                    <th class="px-4 py-3">Amount</th>
                    <th class="px-4 py-3">Actions</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock main %}
