{% extends "base-home.html" %}
{% block content %}
<section class="relative bg-[url(https://plus.unsplash.com/premium_photo-1677022383068-d7c70c446ac1?q=80&w=2060&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] bg-cover bg-center bg-no-repeat">

  <div class="absolute inset-0 bg-white/75 sm:bg-transparent bg-gradient-to-r from-white/95 to-white/25 ">
  </div>

  <div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8">
    <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        Let's Save money with
        <strong class="block font-extrabold text-rose-700"> Expense Tracker. </strong>
      </h1>

      <p class="mt-4 max-w-lg sm:text-xl/relaxed">
        With this application You will be able to manage your expenses by registering your bank accounts, save all the incomes you receive,
          and save all your expenses.
      </p>

      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <a
          href="{{url_for('login')}}"
          class="block w-full rounded bg-rose-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto"
        >
          Login
        </a>

        <a
          href="{{url_for('register')}}"
          class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-rose-600 shadow hover:text-rose-700 focus:outline-none focus:ring active:text-rose-500 sm:w-auto"
        >
          Register
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}