{% extends "base.html" %}

{% block main %}


<!-- component -->
<script src="https://cdn.tailwindcss.com"></script>

<div class=" px-4 py-4 container max-w-screen-lg mx-auto ">
    <nav aria-label="Breadcrumb" class="flex justify-center mt-4 mb-4">
      <ol class="flex overflow-hidden rounded-lg border border-gray-200 text-gray-600">
          <li class="flex items-center">
          <a href="{{url_for('dashboard')}}" class="flex h-10 items-center gap-1.5 bg-gray-100 px-4 transition hover:text-gray-900">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
              />
            </svg>

            <span class="ms-1.5 text-xs font-medium"> Home </span>
          </a>
        </li>
          <li class="relative flex items-center">
            <span class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180">
            </span>

            <a href="{{url_for('expenses')}}" class="flex h-10 items-center bg-white pe-4 ps-8 text-xs font-medium transition hover:text-gray-900">
                Expenses
            </a>
          </li>
          <li class="relative flex items-center">
            <span class="absolute inset-y-0 -start-px h-10 w-4 bg-white [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180">
            </span>
            {% if legend %}
                <a href="#" class="flex h-10 items-center bg-gray-100 pe-4 ps-8 text-xs font-medium transition hover:text-gray-900">
                    Update Expense
                </a>
                {% else %}
                <a href="#" class="flex h-10 items-center bg-gray-100 pe-4 ps-8 text-xs font-medium transition hover:text-gray-900">
                    Create Expense
                </a>
            {% endif %}
          </li>
      </ol>
    </nav>
    <div class="bg-white dark:bg-gray-800 rounded shadow-lg p-4 px-4 md:p-8 mb-4">
        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
            <div class="text-gray-700 mt-2">
                {% if legend %}
                <p class="font-medium text-lg dark:text-white-700">{{legend}} Details</p>
                {% else %}
                <p class="font-medium text-lg dark:text-white">Expense informations</p>
                {% endif %}
                <p class="dark:text-white">Please fill out all the required fields.</p>
            </div>
            <div class="lg:col-span-2">
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                        <div class="md:col-span-5">
                            <span class="text-gray-700 dark:text-gray-400">Debited Account</span>
                            {{form.account_id(class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input") }}
                        </div>
                        <div class="md:col-span-3">
                            <span class="text-gray-700 dark:text-gray-400">Merchant</span>
                            {{form.merchant(class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input") }}
                        </div>
                        <div class="md:col-span-2">
                            <span class="text-gray-700 dark:text-gray-400">Expense Amount</span>
                            {% if form.amount.errors %}
                                {% for error in form.amount.errors %}
                                  {{form.amount(placeholder="0.00", class="block w-full mt-1 text-sm border-red-600 dark:text-gray-300 dark:bg-gray-700 focus:border-red-400 focus:outline-none focus:shadow-outline-red form-input ") }}
                                  <span class="text-xs text-red-600 dark:text-red-400">{{ error }}</span>
                                {% endfor %}
                            {% else %}
                              {{form.amount(placeholder="0.0",class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input") }}
                            {% endif %}
                        </div>
                        <div class="md:col-span-5">
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">Description</span>
                                {{form.description(class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input") }}
                            </label>
                        </div>
                        <div class="md:col-span-2">
                            <span class="text-gray-700 dark:text-gray-400">Expense Date</span>
                            {{form.expense_date(class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input") }}
                        </div>
                        <div class="md:col-span-3">
                            <span class="text-gray-700 dark:text-gray-400">Expense Category</span>
                            {{form.category(class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input") }}
                        </div>
                        <div class="md:col-span-5">
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">Expense Invoice</span>
                                {{form.proof(class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input") }}
                            </label>
                        </div>
                        <div class="md:col-span-5 text-right">
                            <div class="inline-flex items-end">
                              {{form.submit(class="block px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple")}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock main %}

